#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem; /* Add space between the columns */
  margin-top: 2rem; /* Space between the welcome message and the dashboard */
}

#dashboardContainer {
  padding: 0 4rem;
}

.welcome {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* Buttons */
#buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 12rem;
}

#buttons button {
  cursor: pointer;
  font-size: 14px;
  padding: 6px 16px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

#buttons button {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

#buttons button.active {
  background-color: rgb(193, 163, 98);
  color: #fff;
}

#sourceButtons,
#chartButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Chart */

#chartWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
