@import "./base.css";
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
/* @import "tailwindcss"; */

a,
.green {
  text-decoration: none;
  color: rgb(255, 162, 162);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
